---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import butt from "../assets/images/butt.png";
import jojo from "../assets/images/jojo.png";
import { Image } from "astro:assets";
import LinkGroup from "@components/LinkGroup.astro";
import Text from "@components/text.astro";
---

<Layout title="Ava-Jo Barone">

    <div class="two-column">
      <Container>
        <Image class="scaled-image" src={butt} alt="buttons" />
        <Text/>
        <Image src={jojo} class="mynamepic" alt="Ava-Jo Barone" />
      </Container>
      
      <aside class="side-column">
        <LinkGroup/>
      </aside>
    </div>
</Layout>


<style>

  .mynamepic {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0rem 1rem 0 6rem;
    gap: 0.5rem;
  }


</style>