---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Image } from "astro:assets";
import LinkGroup from "@components/LinkGroup.astro";
import Text from "@components/text.astro";
---

<Layout title="Astro Starter">

    <div class="two-column">
      <Container>
        <img class="scaled-image" src="/src/assets/images/butt.png" alt="buttons" width="120" />
        <Text/>
      </Container>
      
      <aside class="side-column">
        <LinkGroup/>
      </aside>
    </div>
</Layout>
