---
// This is a simple container component that centers its content and provides padding
---

<div class="container">
  <slot />
 
</div>

<style>
  /* uses flex to center items on the page.*/
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0rem 1rem 0 0rem;
    gap: 0.5rem;
  }

  .container > :global(*) {
    /* sets the default width on anything inside this container */
    /* Use the page width variable and subtract the horizontal padding */
    max-width: calc(min(100%, var(--size-page-width)) - 2 * var(--size-page-padding));
    
  }
</style>
